@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  background-color: #FFFFFF;
  color: #333333;
  font-size: 0.875rem;
  font-family: "Raleway", sans-serif;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

/* サイト全体のコンテンツ幅を設定 */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* 中のコンテンツ部分の最大幅を設定 */
.inner {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  border-bottom: 1px solid #C3C3C3;
}

.header_title {
  margin: 38px auto 29px auto;
  width: 109px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.header_menu_left {
  display: flex;
}
.header_menu_left li {
  font-size: 0.75rem;
  margin-right: 15px;
}
.header_menu_left li:last-child {
  margin-right: 0;
}

.header_menu_right {
  display: flex;
}
.header_menu_right li {
  font-size: 0.75rem;
}
.header_menu_right li:first-child {
  margin-right: 15px;
}

.totally_box {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

.totally_img {
  width: 50%;
}

.totally_group {
  width: 50%;
  padding-left: 60px;
}

.totally_title {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.4px;
  padding: 19px 0;
  border-top: 1px solid #C3C3C3;
  border-bottom: 1px solid #C3C3C3;
  margin-bottom: 19px;
  line-height: 1.125;
}

.totally_text {
  width: 98%;
  text-align: justify;
  margin-bottom: 19px;
  font-size: 0.75rem;
  line-height: 1.833;
}

.totally_pice {
  font-size: 0.75rem;
  margin-bottom: 30px;
}

.teble1 {
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  margin-bottom: 20px;
  width: 100%;
}
.teble1 .color,
.teble1 .size {
  width: 20%;
}
.teble1 .quantity {
  width: 60%;
}
.teble1 select {
  width: 100px;
}
.teble1 th {
  border-right: 1px solid #C3C3C3;
  border-bottom: 1px solid #C3C3C3;
  padding: 8px 0;
  width: 20%;
}
.teble1 td {
  border-bottom: 1px solid #C3C3C3;
  padding: 0px 0;
  text-align: center;
  padding: 10px;
}
.teble1 .th3 {
  border-right: none;
}
.teble1 .last th {
  border-bottom: none;
}
.teble1 .last td {
  border-bottom: none;
}
.teble1 .selectbox-003 {
  align-items: center;
  position: relative;
}
.teble1 .selectbox-003 select {
  border: 1px solid #cccccc;
  width: 100%;
  padding: 0 10px;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

.add {
  background-color: #4B4B4B;
  color: #FFFFFF;
  font-size: 0.75rem;
  height: 50px;
  width: 98%;
  text-align: center;
  line-height: 50px;
  margin-bottom: 30px;
}

.table2 {
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 110px;
  border-collapse: collapse;
  border: 1px solid #C3C3C3;
}

footer {
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 896px) {
  .container {
    border-bottom: 0px solid #C3C3C3;
  }
  .header_title {
    margin-bottom: 17px;
  }
  .header_nav {
    margin-bottom: 17px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* 慣性スクロール */
  }
  .header_menu_left {
    margin-left: 20px;
    margin-right: 20px;
  }
  .header_menu_left li {
    margin-right: 15px;
  }
  .totally_box {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
  .totally_img {
    width: 100%;
    margin-bottom: 10px;
  }
  .totally_group {
    width: 100%;
    padding: 0 4.2%;
  }
  .selectbox-003 select {
    width: 100%;
  }
  .teble1 {
    margin-bottom: 21px;
  }
  .teble1 th {
    padding: 9px 0;
  }
}/*# sourceMappingURL=style.css.map */