html {
  font-size: 100%;
}

body {
  background-color: #FFFFFF;
  color: #333333;
  font-size: 0.875rem;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

/* サイト全体のコンテンツ幅を設定 */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* 中のコンテンツ部分の最大幅を設定 */
.inner {
  max-width: 800px;
  margin: 0 auto;
}

// ヘッダー--------------------------------------------------------------------


.container {
  border-bottom: 1px solid #C3C3C3;

}

.header_title {
  margin: 46px auto 36px auto;
  width: 109px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.header_menu_left {
  display: flex;

  li {
    margin-right: 14px;
  }

  li:last-child {
    margin-right: 0;
  }
}


.header_menu_right {
  display: flex;

  li:first-child {
    margin-right: 14px;
  }
}

select {
  width: 100px;
}

table {
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
}


th {
  border-bottom: 1px solid #C3C3C3;
  border-right: 1px solid #C3C3C3;
  padding: 5px 10px;
}

th:last-child {
  border-right: 0px solid #C3C3C3;


}

td {
  border-bottom: 1px solid #C3C3C3;
  border-right: 1px solid #C3C3C3;
  padding: 5px 10px;
}

td:last-child {
  border-right: 0px solid #C3C3C3;
}

.selectbox-003 {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.selectbox-003::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
}

.selectbox-003 select {
  appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: .4em calc(.8em + 30px) .4em .8em;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
}

